.App {
  width: 350px;
  height: 500px;
  background-color:rgb(51, 50, 65);
  border-radius: 15px;
  margin:20px auto;
}

.highligth {
  background-color:rgb(228, 121, 121) !important;
}





.footer {
  text-align: center;
}

.footer button{
  height: 30px;
  width: 150px;
  border-radius:10px
}

h1 {
  margin:25px 0 0 0 ;
}
.winner {
  color:white;
}


.score {
  color:white;
}
.cell {
  width: 90px;
  height: 90px;
  background-color:rgb(50, 41, 177);
  border-radius: 10px;
  border: 3px solid white;
  color: aliceblue;
  margin: 10px;
  text-align: center;
  
}


.game-field {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  
}